body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-box{
    width: 450px;
    text-align: center;
    margin: 100px auto;
    border: 1px solid lightgray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow:4px 4px 14px rgb(81, 81, 81);
}
.image{
    position: relative;
    width: 100%;
}
.image img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.profile-pic{
    position: absolute;
    width: 100%;
    bottom: -55px;
}
.profile-pic img{
    width: 130px;
    height: 130px;
    border: 4px solid white;
    border-radius: 50%;
}
.profile-box h1{
    margin-top: 80px;
    margin-bottom: 0px;
}
.profile-box h2{
    font-weight: normal;
    color: rgb(81, 81, 81);
    margin-top: 12px;
    margin-bottom: 40px;
}